@font-face {
    font-family: 'etna';
    src: url('../fonts/etna.otf');
}


body {
    background: #cab7a7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left-panel {
    position: relative;
    margin: 0;
    padding: 0;
    height: 505px;
    width: 300px;
    /*background-color: #EDD;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

#current-figure-text {
    top: 50px;
    font-family: 'etna';
    font-size: 40px;
    margin-bottom: -20px;
    padding: 0;
}

#current-figure-help {
    position: absolute;
    text-align: center;
    top: 100px;
    font-family: 'etna';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#score {
    position: absolute;
    text-align: center;
    top: 390px;
    font-family: 'etna';
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#current-figure {
    position: relative;
    margin: 0;
    padding: 0;
    width: 195px;
    height: 195px;
    top: 100px;
    border: 5px solid;
    border-color: #411;
}

#rigth-panel {
    position: relative;
    margin: 0;
    padding: 0;
    height: 745px;
    width: 450px;
    /*background-color: #EDD;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.opponent {
    height: 600px;
    width: 400px;
    /*background-color: #cbd;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opponent #opponentfield {
    position: relative;
    margin: 0;
    padding: 0;
    height: 363px;
    width: 363px;
    background-image: url('../img/opponent-field.png');
    background-size: 363px 363px;

}

#op, #opname, #opscore {
    font-family: 'etna';
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#field {
    position: relative;
    margin: 0;
    padding: 0;
    height: 744px;
    width: 745px;
    background-image: url('../img/first-field.png');
    z-index: 0;
}

#frame {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 744px;
    width: 745px;
    background-image: url('../img/frame.png');    
}

#rframe {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 744px;
    width: 15px;
    background-image: url('../img/r-frame.png');    
}

#tframe {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 15px;
    width: 745px;
    background-image: url('../img/t-frame.png');    
}

#lframe {
    position: absolute;
    left: 730px;
    margin: 0;
    padding: 0;
    height: 744px;
    width: 15px;
    background-image: url('../img/l-frame.png');    
}

#bframe {
    position: absolute;
    top: 729px;
    margin: 0;
    padding: 0;
    height: 15px;
    width: 745px;
    background-image: url('../img/b-frame.png');    
}

.cell {
    cursor: pointer;
}

.c_cell {
    margin: 0;
    padding: 0;
    cursor: default;
    outline: 2px solid #411;
/*    border: 3px solid;
    border-color: #411;*/
}

.o_cell {
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    cursor: default;
    /*outline: 1px solid #411;*/
/*    border: 3px solid;
    border-color: #411;*/
}

.cell-choice {
    background: rgba(255, 255, 255, 0.2);
}

.cell-chosen {
    background: rgba(255, 255, 255, 0.4);
}

.cell-error {
    background: rgba(255, 22, 2, 0.3);
}

.cell-sea {
    background: #12b7a7;
    background-image: url('../img/sea.png');
    background-size: 100% 100%;
}

.cell-village {
    background: #12b7a7;
    background-image: url('../img/village.png');
    background-size: 100% 100%;
}

.cell-monster {
    background: #12b7a7;
    background-image: url('../img/monster.png');
    background-size: 100% 100%;
}

.cell-field {
    background: #12b7a7;
    background-image: url('../img/field.png');
    background-size: 100% 100%;
}

.cell-forest {
    background: #12b7a7;
    background-image: url('../img/forest.png');
    background-size: 100% 100%;
}

.cell-mountain {
    background: #12b7a7;
    background-image: url('../img/mountain.png');
    background-size: 100% 100%;
}